@import "tailwindcss";

@theme {
  --font-sans: "Josefin Sans", serif;
  --font-alata: "Alata", serif;

  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --breakpoint-xl: 1440px;
}

@layer base {
  body {
    @apply font-sans;
  }
}

@layer components {
  .sec-container {
    @apply max-w-6xl mx-auto px-6 mb-32;
  }
  .bg-align {
    @apply bg-no-repeat bg-cover bg-center;
  }
  .nav-hover {
    @apply hover:border-b-1 hover:cursor-pointer hover:border-white border-b-1 border-transparent;
  }
  .image-gradient::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }
  .image-gradient:hover::after {
    background: rgba(255, 255, 255, 0.6);
  }
  .image-caption {
    @apply group-hover:text-black group-hover:scale-110 max-w-40 duration-300 text-gray-50 z-10 uppercase absolute left-6 bottom-4 text-2xl font-light;
  }
  .btn {
    @apply font-alata uppercase text-lg text-center tracking-[0.3em] cursor-pointer hover:text-white hover:bg-black px-14 py-2 border-2;
  }

  /* mobile Hamburger */
  .hamburger-line {
    @apply block absolute h-0.5 w-5 bg-current transform transition duration-500 ease-in-out;
  }
  .hamburger-container {
    @apply block w-5 absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2;
  }
  .menu-toggle {
    @apply group-[.open]:rotate-45 group-[.open]:translate-0 -translate-y-1.5;
  }
  .menu-middle {
    @apply group-[.open]:opacity-0;
  }
  .menu-bottom {
    @apply group-[.open]:-rotate-45 group-[.open]:translate-0 translate-y-1.5;
  }

  .overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: black;
    height: 100dvh;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .open .overlay::after {
    @apply duration-500 opacity-80 pointer-events-auto visible;
  }

  .open .overlay::after {
    @apply md:hidden;
  }
  .menu-transform {
    @apply -translate-x-100 md:-translate-x-0 group-[.open]:-translate-x-0;
  }
}
